*.pyc
*.pyo
*~
.coverage
htmlcov
*DS_Store
*._*
.ropeproject
*.swp
.svn
.idea
*.mo
node_modules
node_modules/
/node_modules
log
__pycache__

.git
*db*.gz
htmlcov
venv
frontend/node_modules
media
var/log/*

lib/bvvs/static

# Javascript build files
frontend/dist
frontend/webpack-stats
frontend/eslint.xml
frontend/coverage
